@import "./sass/colors";
@import "./sass/fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font_primary;
}

a,
a:link,
a:active,
a:visited {
  text-decoration: none;
  color: $secondary;
}

b {
  font-weight: bold;
}

.app,
header,
main,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

body {
  background: $secondary;
}

@import "./components/navbar/NavBar";

@import "./sass/header";

@import "./components/section/Section";
@import "./components/container/Container";
@import "./components/separator/separator";

@import "./components/iframe/Iframe";
@import "./sass/helpers";
